<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery-3.6.0.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <form name="formulario" autocomplete="off">

    <div class="input">
      <input required type="text" id="nomeInput">
      <label for="nomeInput">Nome</label>
      <span class="error"></span>
    </div>
      
    <div class="input">
      <input required type="email" id="emailInput">
      <label for="emailInput">E-mail</label>
      <span class="error"></span>
   </div>


  <div class="input">
    <input required type="password" id="senhaInput">
    <label for="senhaInput">Senha</label>
    <span class="error"></span>
  </div>
      
      <div>
        <button id="buttonCad" onclick="cadastrar()">Concluir</button>
      </div>
      <div>
          <button><a href="index.html">Cancelar</a></button>
      </div>
  </form>
    
</body>
</html>